<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PTestMock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E73E5B771EDC627D00DF4249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73E5B8B1EDC627E00DF4249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73E5B961EDC627E00DF4249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
